/* header */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f5f7;
}
/* header */
.navbar-nav .nav-item a .active {
  color: black;
}

.nav .nav-item:hover {
  box-shadow: 4px 4px 4px #ccc;
}

.itens-link nav .nav .nav-item a.active {
  color: rgb(66, 117, 143);
}
/* main */

.container-form {
  border-radius: 10px;
  background-color: rgb(116, 191, 229);
}
p {
  margin-bottom: 0;
}

.bg-img {
  background-image: url("/hd-wallpaper-1051850_1920.jpg");
}

.img-oferta {
  border-radius: 10px;
}

.pacotes-banner {
  background-image: url("../imagens/sea-1377712_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* página destinos */
.info-card {
  display: flex;
  justify-content: space-between;
}
.btn-enviar {
  width: 40%;
  padding: 15px 0;
  background: rgb(56, 80, 191);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
  text-align: center;
}
.btn-enviar:hover {
  background: rgb(31, 143, 104);
  transform: scale(1.1);
  color: white;
}
